vless://{{ uuid }}@{{ inventory_hostname }}:443?security=reality&encryption=none&pbk={{ public_key }}&headerType=none&fp=chrome&type=tcp&flow=xtls-rprx-vision&sni={{ server_name }}&sid={{ short_id }}#{{ inventory_hostname }}