vless://{{ xray_uuid }}@{{ inventory_hostname }}:443?security=reality&encryption=none&pbk={{ xray_public_key }}&headerType=none&fp=chrome&type=tcp&flow=xtls-rprx-vision&sni={{ vless_reality_server_name }}&sid={{ xray_short_id }}#{{ inventory_hostname }}